<div class="container" *ngIf="entryForm">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-6-offest-3">
            <form class="form-horizontal" [formGroup]="entryForm">
                <div class="form-group">
                    <label for="productId">Id:</label>
                    <input type="number" name="productId" id="productId" class="form-control"
                        placeholder="enter product id" formControlName="productId">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="productId?.invalid && (productId?.dirty || productId?.touched)">
                        <div *ngIf="productId?.errors?.['required']">
                            productId is required
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="productName">Name:</label>
                    <input type="text" name="productName" id="productName" class="form-control"
                        placeholder="enter product name" formControlName="productName">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="productName?.invalid && (productName?.dirty || productName?.touched)">
                        <div *ngIf="productName?.errors?.['required']">
                            product name is required
                        </div>
                        <!-- <div *ngIf="productName?.errors?.['maxlength']">
                            maximum length should be {{productName?.errors?.['maxlength'].requiredLength}}, whereas
                            actual
                            length
                            is {{productName?.errors?.['maxlength'].actualLength}}
                        </div> -->
                    </div>

                </div>

                <div class="form-group">
                    <label for="productCode">Code:</label>
                    <input type="text" name="productCode" id="productCode" class="form-control"
                        placeholder="enter product code" formControlName="productCode">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="productCode?.invalid && (productCode?.dirty || productCode?.touched)">
                        <div *ngIf="productCode?.errors?.['required']">
                            product code is required
                        </div>
                        <!-- <div *ngIf="productCode?.errors?.['maxLength']">
                            maximum length should be {{productCode?.errors?.['maxLength'].requiredLength}}, whereas
                            actual length is {{productCode?.errors?.['maxLength'].actualLength}}
                        </div> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" class="form-control"
                        placeholder="enter product description" formControlName="description">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                        <div *ngIf="description?.errors?.['required']">
                            description is required
                        </div>
                        <!-- <div *ngIf="description?.errors?.['maxlength']">
                            maximum length should be {{description?.errors?.['maxlength'].requiredLength}}, whereas
                            actual length is {{description?.errors?.['maxlength'].actualLength}}
                        </div> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="releaseDate">Released On:</label>
                    <input type="datetime" name="releaseDate" id="releaseDate" class="form-control"
                        placeholder="enter product releaseDate" formControlName="releaseDate">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="releaseDate?.invalid && (releaseDate?.dirty || releaseDate?.touched)">
                        <div *ngIf="releaseDate?.errors?.['required']">
                            releaseDate is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" name="price" id="price" class="form-control" placeholder="enter product price"
                        formControlName="price">

                    <!-- error displayer -->
                    <div class="alert alert-danger" *ngIf="price?.invalid && (price?.dirty || price?.touched)">
                        <div *ngIf="price?.errors?.['required']">
                            price is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="starRating">Rating:</label>
                    <input type="number" name="starRating" id="starRating" class="form-control"
                        placeholder="enter product rating" formControlName="starRating">

                    <!-- error displayer -->
                    <div class="alert alert-danger"
                        *ngIf="starRating?.invalid && (starRating?.dirty || starRating?.touched)">
                        <div *ngIf="starRating?.errors?.['required']">
                            starRating is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="imageUrl">URL:</label>
                    <input type="text" name="imageUrl" id="imageUrl" class="form-control"
                        placeholder="enter product url" formControlName="imageUrl">

                    <!-- error displayer -->
                    <div class="alert alert-danger" *ngIf="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)">
                        <div *ngIf="imageUrl?.errors?.['required']">
                            imageUrl is required
                        </div>
                    </div>
                </div>

                <div class="container-fluid centerStyle">
                    <button type="submit" class="btn btn-primary" [disabled]="!entryForm.valid">
                        Submit
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-danger" [disabled]="!entryForm.valid">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>