<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-6-offest-3">
            <form ngForm #frm="ngForm">
                <div class="form-group">
                    <label for="username">UserName:</label>
                    <input type="email" name="txtUserName" id="username" class="form-control" [(ngModel)]="username"
                        required email #uname="ngModel">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="txtPassword" id="password" class="form-control" [(ngModel)]='password'
                        #pwd="ngModel" required>
                </div>

                <!--1. passing individual ngModel objects from UI-->
                <!-- <div class="centerStyle">
                    <button type="button" class="btn btn-primary" (click)="submitUser(uname, pwd)"
                        [disabled]="!frm.valid">
                        Register {{frm.touched}}
                    </button>
                </div> -->

                <!--2. passing individual FormControl objects from UI-->
                <!-- <div class="centerStyle">
                                    <button type="button" class="btn btn-primary" (click)="submitUser(uname.control, pwd.control)"
                                        [disabled]="!frm.valid">
                                        Register {{frm.touched}}
                                    </button>
                                </div> -->

                <!-- 3. passing entire NgForm object from UI-->

                <!-- <div class="centerStyle">
                    <button type="button" class="btn btn-primary" (click)="submitUser(frm)" [disabled]="!frm.valid">
                        Register {{frm.touched}}
                    </button>
                </div> -->
                <!--  4. passing entire FromGroup object from UI-->
                <div class="centerStyle">
                    <button type="button" class="btn btn-primary" (click)="submitUser(frm.form)"
                        [disabled]="!frm.valid">
                        Register {{frm.touched}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>