<!--
    div=>table=>thead=>tr>th(4)+tbody=>tr
-->

<div class="container container-fluid divStyle">
    <div class="row">

        Filter By: &nbsp;
        <div class="col-md-4">
            <input type="text" name="txtFilter" id="txtfilter" [value]="filterText"
                (change)="updateFilterText(filterInput.value)" #filterInput>
        </div>
        <!-- <span>Filtered By: {{filterText}}</span> -->
        Sort By: &nbsp;
        <div class="col-md-4">
            <select title="Select an Option to sort">
                <option>--select--</option>
                <option>Name</option>
                <option>Id</option>
                <option>Price</option>
                <option>Rating</option>
            </select>
        </div>
    </div>
    <br>
    <table class="table table-dark table-striped" *ngIf="productRecords.length>0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of (productRecords|productfilter:filterText)">
                <td>
                    <div class="img-responsive">
                        <img [src]="p.imageUrl" alt="NA" [title]="p.productName" class="imgStyle">
                    </div>
                </td>
                <td>{{p.productName|uppercase}}</td>
                <td>{{p.price|currency:'INR'}}</td>
                <td>{{p.starRating}}</td>
            </tr>
        </tbody>
    </table>
</div>