<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-6-offest-3" *ngIf="loginFrm">
            <form [formGroup]="loginFrm" (submit)="submitUser()">
                <!-- <form> -->
                <div class="form-group">
                    <label for="username">UserName:</label>
                    <!-- <input type="email" name="username" id="username" class="form-control" [formControl]="username"> -->
                    <input type="email" name="username" id="username" class="form-control" formControlName="username">
                    <!-- error displayer -->
                    <div class="alert alert-danger" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                        <div *ngIf="username?.errors?.['required']">
                            username is required
                        </div>
                        <div *ngIf="username?.errors?.['email']">
                            username should be in email format
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <!-- <input type="password" name="password" id="password" class="form-control" [formControl]="password"> -->
                    <input type="password" name="password" id="password" class="form-control"
                        formControlName="password">
                    <!-- error displayer -->
                    <div class="alert alert-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <div *ngIf="password?.errors?.['required']">
                            password is required
                        </div>
                        <div *ngIf="password?.errors?.['minlength']">
                            minimum length should be {{password?.errors?.['minlength'].requiredLength}}, whereas actual
                            length
                            is {{password?.errors?.['minlength'].actualLength}}
                        </div>
                    </div>
                </div>
                <div class="centerStyle">
                    <!-- <button type="submit" class="btn btn-primary" (click)="submitUser()">
                        Login
                    </button> -->
                    <button type="submit" class="btn btn-primary" [disabled]="!loginFrm.valid">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>